<!-- Load Iceberg JavaScript Library -->
<script type="text/javascript">
(function(i, c, e, b, r, g) {
    i[r] = i[r]||{};
    i[r]._i=[];i[r].init=function(c){i[r]._i.push(c)};
    i[r]._c=[];i[r].onLoaded=function(a,b){i[r]._c.push({cb:a,ctx:b})};
    i[r]._r=[];i[r].onReady=function(a,b){i[r]._r.push({cb:a,ctx:b})};
    g = c.createElement(e);g.async = true; g.src = b;var s = c.getElementsByTagName(e)[0]; s.parentNode.insertBefore(g, s);
})(window, document, 'script', "{{ LIBRARY_URL }}", 'MP');


console.warn(MP._i)
</script>

